# See https://help.github.com/ignore-files/ for more about ignoring files.
.DS_Store
node_modules/
npm-debug.log
lib/
umd/
coverage/
.idea
# Logs
*.log
npm-debug.log*
# public folders will be modified through npm run build-storybook
public
.editorconfig
